body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  font-family: "Roboto", sans-serif;
  background-color: #102a43;
  color: #f0f4f8;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  border: 2px solid #acb1b6;
  padding: 1px;
}

.rowDIV {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.squareDIV {
  padding: 5px;
}

#btn-grid {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90px;
  padding: 5px;
  border-radius: 15px;
  color: #f0f4f8;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: #4eb5f1;
}

#btn-grid:hover {
  background-color: #4095c6;
}
