body {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

#container {
  display: flex;
  flex-direction: column;
}

#grid {
  /* display: flex; */
  border: 2px solid #acb1b6;
  padding: 1px;
}

.rowDIV {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.squareDIV {
  padding: 5px;
}

#btn-grid {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90px;
  padding: 5px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #4eb5f1;
}

#btn-grid:hover {
  background-color: #4095c6;
}
